/* _content/EduMedia.Web/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fkklpcwxv8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fkklpcwxv8] {
  color: #cc0055;
}

.btn-primary[b-fkklpcwxv8] {
  color: #fff;
  background-color: #dfd369;
  border-color: #7b6d06;
}

.nav-pills .nav-link.active[b-fkklpcwxv8], .nav-pills .show > .nav-link[b-fkklpcwxv8] {
  color: #fff;
  background-color: #c2931b;
  border-color: #ac5318;
}

.border-top[b-fkklpcwxv8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fkklpcwxv8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fkklpcwxv8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fkklpcwxv8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fkklpcwxv8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
